<section class="dmicher-active-requests-shell">
  <h2 class="dmicher-tool-window-heading">{{localize keys.heading}}</h2>

  <div class="dmicher-active-requests-table-wrap">
    {{#if hasRequests}}
    <table class="dmicher-active-requests-table">
      <thead>
        <tr>
          <th>{{localize keys.columnIcon}}</th>
          <th>{{localize keys.columnSubmitted}}</th>
          <th>{{localize keys.columnAuthor}}</th>
          <th>{{localize keys.columnControls}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each requests}}
        <tr>
          <td class="dmicher-active-request-type">
            <img src="{{image}}" alt="{{typeLabel}}" title="{{typeLabel}}">
          </td>
          <td>{{submittedText}}</td>
          <td>{{authorText}}</td>
          <td class="dmicher-active-request-actions">
            <button type="button" data-active-request-action="open" data-message-id="{{messageId}}" title="{{localize ../keys.openMessage}}">
              <i class="fa-solid fa-eye" aria-hidden="true"></i>
            </button>
            <button type="button" data-active-request-action="grant" data-message-id="{{messageId}}" title="{{grantLabel}}">
              <i class="fa-solid fa-comment" aria-hidden="true"></i>
            </button>
            <button type="button" data-active-request-action="cancel" data-message-id="{{messageId}}" title="{{localize ../keys.cancel}}">
              <i class="fa-solid fa-xmark" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <p class="notes dmicher-active-requests-empty">{{localize keys.empty}}</p>
    {{/if}}
  </div>

  <footer class="dmicher-active-requests-footer">
    <button type="button" data-active-request-action="clear">
      <i class="fa-solid fa-trash" aria-hidden="true"></i>
      {{localize keys.clear}}
    </button>
  </footer>
</section>
