<form class="dmicher-request-settings-form">
  <p class="dmicher-settings-intro">
    {{localize "DMICHERSPOTLIGHTTOOLS.Requests.Settings.Intro"}}
  </p>

  <div class="dmicher-settings-blocks">
    {{#each requests}}
    <fieldset class="dmicher-settings-block dmicher-settings-{{urgency}}">
      <legend>{{label}}</legend>
      <div class="dmicher-settings-preview">
        <img
          class="dmicher-settings-image"
          src="{{image}}"
          alt="{{imageAlt}}"
          title="{{localize 'DMICHERSPOTLIGHTTOOLS.Requests.Settings.ImageTitle'}}"
          data-request-image
          data-urgency="{{urgency}}"
          role="button"
          tabindex="0"
          draggable="true"
        >
        <span>{{localize "DMICHERSPOTLIGHTTOOLS.Requests.Settings.ImageHint"}}</span>
      </div>

      <label class="dmicher-settings-field">
        <span>{{localize "DMICHERSPOTLIGHTTOOLS.Requests.Settings.Text"}}</span>
        <textarea name="{{urgency}}Text" rows="3" maxlength="500" placeholder="{{placeholder}}">{{text}}</textarea>
      </label>

      <label class="dmicher-settings-field">
        <span>{{localize "DMICHERSPOTLIGHTTOOLS.Requests.Settings.CssStyle"}}</span>
        <input type="text" name="{{urgency}}Style" value="{{style}}" maxlength="1000">
      </label>
    </fieldset>
    {{/each}}
  </div>

  <p class="notes dmicher-style-note">
    {{localize "DMICHERSPOTLIGHTTOOLS.Requests.Settings.StyleNote"}}
  </p>

  <footer class="form-footer">
    <button type="submit">
      <i class="fa-solid fa-floppy-disk" aria-hidden="true"></i>
      {{localize "DMICHERSPOTLIGHTTOOLS.Requests.Settings.Save"}}
    </button>
  </footer>
</form>
